body {
  background-color: black;
  font-family: "Lobster", cursive;
}

h1 {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.formulario {
  width: 400px;
  height: 600px;
  margin: 0 auto;
  color: white;
}

.titleCenter {
  color: white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: 80px;
  top: 0px;
}

.logoCenter {
  width: 300px;
  height: 300px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  transition: ease-in 0.5s;
  cursor: pointer;
}

.btnIngresar {
  width: 90px;
  height: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  font-family: "Lobster", cursive;
  border-color: white;
  background-color: black;
  color: white;
  box-shadow: inset 0px 2px 2px white;
  filter: drop-shadow(0px 2px 2px white);
}

.btnIngresar:hover {
  color: white;
  border-color: aquamarine;
  font-family: "Lobster", cursive;
  background-color: #f91940;
  cursor: pointer;
}

.logoCenter:hover{
    transform: rotate(0.5turn);
}