header{ 
    display: flex;
    justify-content: space-between;

}

.titleHeader{
    margin: 0;
    margin-top: 5px;
}

.subtitleHeader{
    margin: 0;
    margin-left: 35px;
}

body{
    background-color: black;
    margin: 0;
}

.logo{
    display: flex;
    font-family: 'lobster' , cursive;
    color: white;
}

.logo_img{
    margin: 0;
    height: 100px;
    transition: 0.5s;
}

.textLogo{
    margin: 0;
    margin-top: 12px;
}

.menu{
    font-family: 'lobster' , cursive;
    color: white;
    margin-top: 40px;
    margin-right: 10px;
}

.btnInicio{
    width: 90px;
    height: 30px;
    justify-content: center;
    border-radius: 15px;
    font-family: 'Lobster', cursive;
    border-color: white;
    background-color: black;
    color: white;
    box-shadow: inset 0px 2px 2px white;
    filter: drop-shadow(0px 2px 2px white);
    margin-left: 20px;
}

.logo_img:hover{
    transform: rotate(90deg);
}

.btnInicio:hover{
    color: white;
    border-color: aquamarine;
    font-family: 'Lobster', cursive;
    background-color: #f91940;
    
}

.adds{
    display: flex;
    justify-content: center;
    height: 580px;
}